* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.header {
  width: 100%;
  height: 100px;
  opacity: 1;
  position: fixed;
  top: 0px;
  left: 0px;
}

.blue {
    width: 100%;
    height: 100px;
    background: rgba(5,51,110,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
}

.logo {
    width: 500px;
    height: 120px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    margin: auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.22);
}

.logo img{
  width: auto;
  height: 80px;
  opacity: 1;
  position: relative;
  left: 30px;
  top: 5px;
}

.menu {
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.sub_menu_1 {
  width: 75px;
  height: 71px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(187,141,84,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.sub_menu_2 {
  width: 40px;
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 18px;
  border: 4px solid rgba(187,141,84,1);
}
.sub_menu_3 {
  width: 40px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 18px;
  border: 4px solid rgba(187,141,84,1);
}
.sub_menu_4 {
  width: 40px;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 18px;
  border: 4px solid rgba(187,141,84,1);
}

footer {
  width: 100%;
  height: 100px;
  background: rgba(5,51,110,1);
  opacity: 1;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.cred {
    width: 100%;
    color: rgba(255,255,255,1);
    position: absolute;
    left: 20px;
    top: 70px;
    font-family: Piazzolla;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.minob {
  width: 181px;
  height: 43px;
  background: rgba(255,255,255,1);
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 17px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  font-size: 18px;
}

.org_about {
  width: 432px;
  height: 43px;
  background: rgba(255,255,255,1);
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 225px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  font-size: 18px;
}

.politics_1 {
  width: 520px;
  height: 43px;
  background: rgba(255,255,255,1);
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 690px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  font-size: 18px;
}

.politics_2 {
  width: 420px;
  height: 43px;
  background: rgba(255,255,255,1);
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 1240px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  font-size: 18px;
}

.text_block {
    width: 90%;
    position: relative;
    left: 5%;
    top: 50px;
}

.sub_title_text {
    font-family: PT Serif;
    font-weight: Regular;
    font-size: 28px;
}

.title_text {
    font-family: PT Serif;
    font-weight: Regular;
    font-size: 32px;
}

.ord_text {
    font-family: Piazzolla;
    font-weight: Regular;
    font-size: 24px;
}

#tb_1 {
    top: 150px;
}

#photos_1 {
    width: 100%;
    height: 1440px;
    position: relative;
    left: 5%;
    top: 50px;
}