<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Average+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Palatino+Linotype&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Piazzolla&display=swap" rel="stylesheet" />
    <link href="/static/about.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
<div class="header">
  <div class="blue"></div>
  <div class="logo">
    <img src="/static/images_mp/logo.png">
  </div>
  <div class="menu">
      <div class="sub_menu_1"></div>
      <div class="sub_menu_2"></div>
      <div class="sub_menu_3"></div>
      <div class="sub_menu_4"></div>
  </div>
</div>

<div id="block_1">
    <h2 id="Museum">Музей истории</h2>
    <p>Музей истории СПбГЭТУ «ЛЭТИ» был открыт в 1986 году к 100-летию со дня основания университета в
      административно-учебном корпусе, построенном в 1956 году по проекту архитекторов Г.А. Александрова,
      А.А. Сперанского и И.И. Фомина. <br><br>
      На площади 120 м2 представлены документы и экспонаты, свидетельствующие об основных этапах развития и
      становления вуза, а также наиболее значимых событиях в развитии электротехнической науке России.
      Всего в фонде музея хранится более 44000 предметов, документов и фотоматериалов.
    </p>
</div>

<div id="im_block">
    <div id="img_left"></div>
    <div id="img_center"></div>
    <div id="img_right"></div>
</div>

<div id="block_2">
    <p>В музее также можно увидеть макеты некоторых лабораторий ЭТИ, до мельчайших подробностей воссоздающие
        их обстановку. Это макет первой в России учебно-научной телеграфной лаборатории в старом здании института
        (заведующим первой в России кафедры телеграфии был проф. П.С. Осадчий), и макет физической лаборатории в
        новом здании ЭТИ. <br><br>
        Большой интерес представляет собрание первых учебников по электрическим измерениям, подготовленные,
        в основном, преподавателями института. <br><br>
        Основы радиотехнического образования в России были заложены А.С. Поповым. В 1897 году он выступал
        в ЭТИ с докладом о беспроволочной телеграфии. В экспозиции представлена картина художницы О. Котик
        «Доклад А.С. Попова перед преподавателями и студентами ЭТИ 19 октября 1897 г.». <br><br>
        На стендах музея представлены этапы развития отечественной научно-инженерной школы радиотехники
        ЭТИ-ЛЭТИ-СПбГЭТУ, основанной проф. И.Г. Фрейманом, внесшей определяющий вклад в развитие
        отечественной радиоэлектроники. В витрине представлен его фундаментальный труд «Курс радиотехники» (1928),
        опередивший многие иностранные издания своим научно-инженерным подходом к решению задач радиотехники.
    </p>
</div>

<div id="blue-form">
    <div id="hor-line"></div>
    <h1>
        Информация о посещении
    </h1>
    <h2>
        Экскурсии проводятся по предварительным заявкам!
    </h2>
    <p>Контакты музея:</p><ul>
        <li>+7 (812) 234-59-00</li>
        <li><u>radioemc@yandex.ru</u></li>
    </ul>
    <p>Адрес:</p><ul>
        <li><u>197376, Россия, Санкт-Петербург,
            ул. Профессора Попова, дом 5, корп. 3, 2-й этаж, пом. 3208</u></li>
    </ul>
    <div id="form-block">
        <p>
            Форма для заполнения заявки
        </p>
    </div>
</div>

<div id="block_3">
    <p>Электротехнический институт являлся пионером и в области электрохимии, в музее представлен макет электролизера
        и первые учебные пособия по электрохимии. <br><br>
        Как ярчайшая иллюстрация развития энергетического направления в университете на экспозиции
        представлен макет Волховской ГЭС, первой крупной ГЭС, построенной под руководством проф. Г.О. Графтио.
        Рядом расположен макет лаборатории техники высоких напряжений (1929 г.). Лаборатория,
        носящая имя своего создателя проф. А.А. Смурова, была в то время самой крупной в Европе. <br><br>
        В витринах музея представлены фотографии и документы, отражающие историю проектирования и строительства первых
        теплоэлектростанций под руководством проф. В.В. Дмитриева, историю создания и развития первой в мире
        отечественной научной школы электропривода под руководством проф. С.А. Ринкевича. <br><br>
        В 1931 г. С.Я. Соколовым была организована первая в мире кафедра электроакустики,
        создана отечественная школа ультразвуковой техники и дефектоскопии, получившая в настоящее время всемирное
        признание, в музее представлен один из первых образцов дефектоскопа (1932 г.). <br><br>
        На отдельном подиуме размещен индуктор, предложенный членом-корреспондентом АН СССР В.П. Вологдиным –
        основоположником промышленного использования техники высоких частот в мире. Им была основана школа индукционной
        закалки металлов и организована подготовка по специальности высокочастотная электротермия (1936 г.),
        организована в вузе первая в мире кафедра высокочастотной техники (1946 г.). <br><br>
        В годы блокады в ЛЭТИ размещались подразделения политуправления Краснознаменного Балтийского флота. В музее
        представлена минидиарама бункера командующего Краснознаменным Балтийским флотом адмирала В.Ф. Трибуца. <br><br>
        В послевоенные годы ученые ЛЭТИ активно участвовали в разработке систем управления различного вида объектами,
        в разработке радиоэлектронных средств ВМФ и ВВС. В экспозиции представлен демонстрационный макет антенны с
        фазированной антенной решеткой трехсантиметрового диапазона и макет пассивной радиостанции. <br><br>
        ЛЭТИ внес свою лепту и в освоение космического пространства. На отдельном подиуме представлены микросхемы и
        блоки аппаратуры для спектрометрической аппаратуры и бортовых спектрометрической и радиометрической систем
        метеорологических искусственных спутников Земли «Метеор», «Метеор-Природа», «Электро». <br><br>
        Собрание музейных экспонатов, документов по истории университета постоянно пополняется новыми экспонатами и
        документами, свидетельствующими о педагогической, научной, общественной и студенческой жизни
        Санкт-Петербургского государственного электротехнического университета «ЛЭТИ». <br><br>
    </p>
</div>

<div id="empty"></div>

<footer>
  <span class="cred">© 1995 - 2025 Санкт-Петербургский государственный электротехнический университет
            «ЛЭТИ» им. В.И. Ульянова (Ленина), СПбГЭТУ «ЛЭТИ»
  </span>
  <div class="minob">
    Минобрнауки
  </div>
  <div class="org_about">
      Сведения об образовательной организации
  </div>
  <div class="politics_1">
      Политика обработки и защиты персональных данных
  </div>
  <div class="politics_2">
      Политика конфеденциальности
  </div>
</footer>
</body>
<script src="/static/code.js"></script>
</html>