<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Average+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Palatino+Linotype&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Piazzolla&display=swap" rel="stylesheet" />
    <link href="/static/style.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>

<div class="header">
  <div class="blue"></div>
  <div class="logo">
    <img src="/static/images/logo.png">
  </div>
  <div class="menu">
      <div class="sub_menu_1"></div>
      <div class="sub_menu_2"></div>
      <div class="sub_menu_3"></div>
      <div class="sub_menu_4"></div>
  </div>
</div>

<div class="main">

</div>



<footer>
  <span class="cred">© 1995 - 2025 Санкт-Петербургский государственный электротехнический университет
            «ЛЭТИ» им. В.И. Ульянова (Ленина), СПбГЭТУ «ЛЭТИ»
  </span>
  <div class="minob">
    Минобрнауки
  </div>
  <div class="org_about">
      Сведения об образовательной организации
  </div>
  <div class="politics_1">
      Политика обработки и защиты персональных данных
  </div>
  <div class="politics_2">
      Политика конфеденциальности
  </div>
</footer>
</body>
</html>