<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Average+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Palatino+Linotype&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Piazzolla&display=swap" rel="stylesheet" />
    <link href="/static/style.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>

<div class="header">
  <div class="blue"></div>
  <div class="logo">
    <img src="/static/images_y_1945_1968/logo.png">
  </div>
  <div class="menu">
      <div class="sub_menu_1"></div>
      <div class="sub_menu_2"></div>
      <div class="sub_menu_3"></div>
      <div class="sub_menu_4"></div>
  </div>
</div>

<div class="text-block" id="tb-1">
    <p class="title-text">
        Развитие ЛЭТИ в послевоенные годы (1945-1968)
    </p>
    <p class="sub-title-text">
        Первые послевоенные годы
    </p>
    <p class="ord-text">
        Весной 1945 года, после возвращения из эвакуации основной части сотрудников, коллектив института развернул
        работу по восстановлению условий для полноценного учебного процесса. С 1944 года директором ЛЭТИ вновь был
        назначен П.И. Скотников, руководивший институтом до 1954 года. Проректором по научной работе стал
        проф. С.А. Ринкевич. <br><br>
        Институт всегда отличался фундаментальной подготовкой в области физико-математических наук. Даже в годы блокады
        Ленинграда студентам ЛЭТИ с 1943 по 1945 годы читал курс математики академик АН СССР В.И. Смирнов.
        Заведующим кафедрой физики (1943 – 1975) был профессор А.Г. Граммаков, заведующим кафедрой
        математики (1946 – 1961) – профессор Н.Г. Болдырев. Основополагающий для электротехнического
        института курс теоретических основ электротехники, включающий несколько специфических циклов, читали
        профессора Л.Р. Нейман, А.В. Берендеев, К.И. Крылов. В 1959 году на должность заведующего
        объединённой кафедрой ТОЭ был избран проф. П.Н. Матханов. <br><br>
        Первая послевоенная научная конференция профессорско-преподавательского состава ЛЭТИ состоялась
        16 июля 1946 года. Была организована работа 3-х секций, проведено 2 пленарных заседания, сделано 46 докладов.
        <br><br>
    </p>
</div>

<div id="photos-1">
    <div class="photo ph-sz-1" id="VISmirnov"></div>
    <div class="photo ph-sz-2" id="NGBoldirev"></div>
    <div class="photo ph-sz-2" id="AGGrammakov"></div>
    <div class="photo ph-sz-1" id="LRNeiman"></div>
    <div class="photo ph-sz-2" id="AVBerendeev"></div>
    <div class="photo ph-sz-2" id="PNMathhanov"></div>
    <div class="photo ph-sz-1" id="KIKrilov"></div>
</div>

<div class="text-block" id="tb-2">
    <p class="ord-text">
        Восстановительные работы на территории ЛЭТИ были, в основном, связаны с разбором оборонительных укреплений у
        первого и второго учебных корпусов, возведённых в конце зимы 1941 года военными моряками перед размещением там
        Политического управления Краснознамённого балтийского флота. Восстанавливались и заново оборудовались
        лаборатории, приводились в порядок учебные помещения. <br><br>
        Война выявила острую необходимость в подготовке офицерского состава для вооруженных сил.
        (Постановление Совета Народных Комиссаров Союза ССР № 413 от 13 апреля 1944 года «О военной подготовке
        студентов высших учебных заведений»). В 1945 году в ЛЭТИ была открыта Военно-морская кафедра.
    </p>
</div>
<div id="hor-line-box">
    <div id="hor-line"></div>
    <p class="cite">«…подготовить дисциплинированный, физически крепкий и выносливый, овладевший военно-морским делом
    офицерский и старшинский состав запаса военно-морского флота».</p>
</div>
<div class="text-block" id="tb-2-5">
    <p class="ord-text">
        К январю 1946 года были оборудованы основные лаборатории Института (физики, основ электротехники, приборов
        точной механики, радиотехники). Учебные занятия начались в октябре 1945 года, к этому времени в институт
        возвратились многие студенты и преподаватели-фронтовики. Восстановительные работы в основном закончились в
        1947 году. <br>
        В 1947 году на фасаде первого корпуса была открыта мемориальная доска профессору, изобретателю радио,
        первому выборному директору института А.С. Попову. <br><br>
        Происходит дальнейшее изменение профиля ЛЭТИ, который, как и раньше, продолжал оставаться учебным и
        исследовательским центром комплексной электротехники. Однако, усилия концентрируются на решении вопросов
        развития приборостроения, автоматики, радиотехники, систем управления и элементной базы. В 1945 году
        специальность «проводная связь» была полностью (вместе с преподавателями, студентами и лабораториями)
        переведена в Ленинградский электротехнический институт связи им. проф. М.А. Бонч-Бруевича.
    </p>
</div>

<div id="blue-photos">
    <p class="sub-title-text" id="bl-ph-st">Организация новых факультетов</p>
    <div id="blue-part">
        <div id="gray-block"></div>
        <div id="bl-ph-block-1">
            <div id="bl-ph-block-1-photos">

            </div>
            <div id="bl-ph-block-1-text">
                <p class="sub-title-text">
                    Радиотехнический факультет
                </p>
                <p class="ord-text">
                    В октябре 1945 года на базе бывшего электрофизического факультета был организован
                    радиотехнический факультет (РТФ). Его основу составили уже существовавшие радиотехнические кафедры:
                    теоретических основ радиотехники (проф. Г.А. Кьяндский, с 1955 г. – проф. Ю.Я. Юров),
                    радиопередающих устройств (с 1945 г.– проф. С.И. Панфилов) и радиоприемных устройств
                    (проф. В.И. Сифоров, с 1959 г. – проф. А.П. Сиверс). Были созданы и три новые кафедры:
                    радиолокации (с 1960 г. – кафедра радиосистем) (заведующие: проф. В.А. Гуров (1945–1947),
                    проф. Е.И. Манаев (1947–1952); проф. Ю.М. Казаринов (1953 - 1989)); кафедра
                    телевидения (проф. Я.А. Рыфтин), конструирования и технологии производства радиоаппаратуры
                    (проф. Ф.Е. Евтеев). Первые деканы РТФ – профессор Ф.Н. Хараджа (1945-1946), с 1946
                    года – профессор С.И. Панфилов. <br><br>
                    Выдающим достижением мирового уровня было изобретение (1955 г.) фазированной антенной
                    решётки группой ученых кафедры теоретических основ радиотехники под руководством
                    проф. Ю.Я. Юрова (Ю.В. Егоров, О.Г. Вендик, В.И. Винокуров и др.).
                    Информация о работах в ЛЭТИ по антеннам с электронным сканированием луча стала доступной для
                    широкого обсуждения только в 1980-е годы.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="text-block" id="tb-3">
    <p class="sub-title-text">50-летие ЛЭТИ. Мемориальный музей А.С. Попова</p>
    <p class="ord-text">
        В 1948 году отмечался 50-летний юбилей инженерного электротехнического образования, юбилей
        ЭТИ-ЛЭТИ как вуза с 5-летним сроком обучения. Были проведены торжественное заседание и научно-техническая
        конференция, изданы научные труды института, премированы профессора, преподаватели и сотрудники института.
        (Постановление Совета Министров СССР № 194 от 3 февраля 1948 г.). Торжественное заседание состоялось 26
        июня 1948 г. в Таврическом дворце. 27 июня в бывшей научной лаборатории профессора физики ЭТИ был
        открыт Мемориальный музей изобретателя радио профессора Александра Степановича Попова. Первым директором
        музея (1948-1976) стала дочь А.С. Попова заслуженный деятель культуры РСФСР Е.А. Попова-Кьяндская.
        По её инициативе, поддержанной ректором ЛЭТИ Н.П. Богородицким, 7 мая 1967 года в жилом доме института
        (корп. D) был открыт мемориальный музей-квартира А.С. Попова, как отделение Мемориального музея
        А.С. Попова. С 1976 по 1994 годы музей возглавляла внучка изобретателя радио, выпускница ЛЭТИ кандидат
        технических наук Е.Г. Кьяндская (1976 – 1994). <br><br>
        Юбилейная комиссия под председательством академика Г.О. Графтио добилась Решения Совета Министров СССР
        (от 15.08.1948 г.) о расширении учебной и материальной базы института, что позволило увеличить прием на
        первый курс до 600 человек, получить средства на строительстве новых учебных корпусов института, общежития
        для студентов и жилья для преподавателей и сотрудников института.
    </p>
    <div class="photo" id="EAPopova-Kiandskaya"></div>
    <div class="photo" id="EGKiandskaya"></div>
</div>

<div class="text-block" id="tb-4">
    <p class="sub-title-text">ЛЭТИ под руководством ректора Н.П. Богородицкого (1954 – 1967)</p>
    <p class="ord-text">
        В 1954 году ректором института был назначен профессор Николай Петрович Богородицкий – крупный специалист
        в области физики и техники диэлектриков и полупроводников, лауреат Государственных премий СССР (1942, 1952).
    </p>
</div>

<div class="text-block" id="tb-5">
    <p class="ord-text">
        К 1956 году был построен административно-учебный корпус института (корпус 3, арх. Г.А. Александров,
        А.А. Сперанский, И.И. Фомин), что увеличило площадь ЛЭТИ почти на 40 % (10 тыс. кв. м.).
        Институт получил: актовый зал на 500 человек, новые просторные помещения для библиотеки и общеинститутских
        кафедр – математики, физики, иностранных языков, общественных наук. <br><br>
        В 1959 году в новом корпусе был оборудован вычислительный центр (ВЦ), организована вычислительная лаборатория
        на базе универсальной ЭВМ «Урал-1»; первым руководителем лаборатории был доцент <b>К.А.Сапожков</b>,
        затем – доцент <b>В.О.Вяземский</b>. В 1964 году началась эксплуатация ЭВМ «Минск-2»; с 1965 по 2001
        годы начальником ВЦ был доцент <b>Е.К.Александров</b>.
    </p>
    <div id="tb-5-img"></div>
</div>

<div class="text-block" id="tb-6">
    <p class="ord-text">
        В начале 1960-х годов работы профессора В.О. Вяземского (кафедра РС) и его коллег заложили основы
        нового научного направления – ядерной спектрометрии. Впервые в СССР был создан одноканальный спектрометр
        для исследования околоземного пространства. И сейчас на высоте 36000 километров «висит» над Землей аппарат
        «Электро», оснащенный бортовой регистрирующей системой «Барс-М». <br><br>
        Расширение областей научных исследований и новые требования к подготовке специалистов к концу 1950-х годов
        приводят к необходимости организации новых лабораторий и кафедр. <br><br>
        В 1957 году были организованы две проблемные лаборатории: радиационной электроники и вакуумной техники
        (руководитель – проф. Б.П. Козырев) и электрофизических процессов в диэлектриках и полупроводниках
        (руководитель – проф. Н.П. Богородицкий). <br><br>
        В 1959 году организована отраслевая лаборатория электрификации и автоматизации промышленности
        (ЭЛАП, руководители – профессора А.В. Фатеев и А.В. Башарин). В 1961 году в
        НПО «Светлана» была открыта базовая кафедра «Электронного приборостроения». <br><br>
        В 1960 году на ЭФФ была организована кафедра специальной физики (проф. К.И. Крылов, с 1963 г. –
        проф. А.И. Губанов), обеспечивавшая такие дисциплины как квантовая механика, статистическая физика,
        электродинамика, специальные главы физики, читаемые на старших курсах. В 1964 году при кафедре организуется
        лаборатория СВЧ-электроники твердого тела, а в 1967 году создана криогенная станция, снабжавшая жидким азотом
        и гелием научно-исследовательские и учебные лаборатории кафедр. <br><br>
        Стремительное развитие электроники обусловило создание в ЛЭТИ в 1967 году двух новых кафедр: на РТФ –
        кафедры микрорадиоэлектроники (МИТ), и на ФЭТ, на базе кафедры технологии производства электровакуумных
        приборов, – кафедры электронно-ионной и вакуумной технологий (ЭИВТ, проф. О.Г. Вендик).
        В 1968 году кафедра МИТ была объединена с кафедрой конструирования и технологии производства радиоаппаратуры;
        на должность заведующего объединённой кафедрой (МИТ) был приглашен профессор В.И. Смирнов,
        занимавший до этого должность заместителя директора и научного руководителя НИИ радиоэлектроники (НПО «Ленинец»),
        что способствовало укреплению потенциала вуза в области микроэлектроники.
    </p>
</div>

<div id="photo-lent">
    <div id="blue-lent"></div>
    <div class="photo ph-sz-3" id="NPBogoroditskiy"></div>
    <div class="photo ph-sz-3" id="KASamojnikov"></div>
    <div class="photo ph-sz-3" id="EKAleksandrov"></div>
    <div class="photo ph-sz-3" id="VOVyazemski"></div>
    <div class="photo ph-sz-3" id="OGVendrik"></div>
    <div class="photo ph-sz-3" id="VISmirnov-oth"></div>
    <div class="photo ph-sz-3" id="OBLyrie"></div>
    <div class="photo ph-sz-3" id="VIVinokurov"></div>
    <div class="photo ph-sz-3" id="IRFreydzone"></div>
</div>

<div class="text-block" id="tb-7">
    <p class="ord-text">
        В 1962 году по инициативе ректора института Н.П. Богородицкого, поддержанной академиком А.И. Бергом,
        на электрофизическом факультете была образована первая в стране кафедра электронной медицинской аппаратуры,
        открыта новая специальность и начата подготовка специалистов в области биомедицинской электроники; организатор
        и первый заведующий кафедрой (1962–1972) – специалист по телевизионным системам профессор О.Б. Лурье.
        Под его руководством на кафедре сформировалось новое научное направление, связанное с применением телевидения
        в медицинских и психофизиологических исследованиях. <br><br>
        В 1966 году был организован 6-ой факультет дневной формы обучения – факультет корабельной электрорадиотехники
        и автоматики (ФКЭА). Разработка радиотехнических комплексов, мощных энергетических систем, систем
        управления движением корабля и навигации, систем диагностики корабельных комплексов – это те задачи,
        которые решались учеными вуза для Флота. В состав факультета, организатором и первым деканом которого стал
        профессор Б.И. Норневский, вошли три выпускающие кафедры: электрооборудования и автоматизации судов
        (проф. Б.И. Норневский), электрических машин (проф. Н.П. Ермолин) и вновь созданная кафедра
        автоматизации корабельных систем управления энергетическими установками и вспомогательными устройствами
        (проф. И.Р. Фрейдзон). В 1968 году на факультете была организована кафедра радиооборудования кораблей
        (проф. В.И. Винокуров), в 1973 году на факультет была переведена с ФАВТа кафедра гироскопических
        устройств (проф. П.И. Сайдов). <br><br>
        В 1955 году был вновь открыт вечерний факультет на основе вечерних отделений,
        работавших на ЭЭФ (с 1950 г.) и на РТФ и ФЭТ (с 1952 г.). В 1961 году был образован филиал ЛЭТИ в
        Новгороде – сначала как общетехнический вечерний факультет, затем были открыты и выпускающие кафедры.
        Позднее, в 1973 году, на его основе был создан Новгородский Политехнический институт, вошедший в состав
        организованного в 1993 году Новгородского государственного университета имени Ярослава Мудрого (НГУ). <br><br>
    </p>
</div>

<div class="text-block" id="tb-8">
    <div id="hor-line-2"></div>
    <p class="cite">
        За большие заслуги в подготовке инженерных кадров и достигнутые успехи в развитии научных исследований Указом
        Президиума Верховного Совета СССР от 7 января 1967 года Ленинградский электротехнический институт имени
        В.И. Ульянова (Ленина) был награждён орденом Ленина.
    </p>
    <div id="medal-img"></div>
</div>

<div class="text-block" id="tb-9">
    <p class="sub-title-text">Студенческая жизнь в ЛЭТИ </p>
    <p class="ord-text">
        Студенческая жизнь в ЭТИ – ЛЭТИ всегда была очень активной – работали студенческое научное общество,
        художественные и спортивные секции, хор, литобъединение при газете «Электрик». В ЛЭТИ появились
        первые иностранные студенты. В 1946 году возобновила свою работу секция коротковолновиков, организованная в
        предвоенном 1940 году. Начальником радиостанции (позывной UA1KBB) стал студент Г. Соколов
        (впоследствии доцент кафедры автоматики и телемеханики). В 1950-х годах начальником радиостанции
        был студент, впоследствии всемирно известный радиолюбитель, <b>Я.Лаповок</b>, много сделавший для
        совершенствования радиолюбительской аппаратуры, развития радиолюбительства в стране.
    </p>
</div>

<div class="text-block" id="tb-10">
    <p class="ord-text">
        В 1949 году по решению комитета ВЛКСМ института для оказания помощи Оятскому району Ленинградской области в
        строительстве Красноборской ГЭС в ЛЭТИ был организован первый студенческой строительный отряд. Предстояло э
        лектрифицировать 15 колхозов и совхозов. Силами дипломников кафедры центральных электрических станций был
        разработан проект создания Красноборской ГЭС на 100 кВт. 4 июля началась стройка. Запустили Красноборскую
        ГЭС 15 октября 1949 года. Участником строительства был выпускник ЛЭТИ 1952 года Жорес Алфёров. <br>
        Для многих студентов ЛЭТИ третьи трудовые семестры в составе студенческих строительных отрядов оставались
        самыми яркими страницами студенческой жизни, а для некоторых – командиров отрядов и членов их штабов –
        определили и их жизненный путь руководителей производств, государственных деятелей.
    </p>
    <div id="tb-10-img"></div>
</div>

<div class="text-block" id="tb-11">
    <p class="ord-text">
        Спортсмены ЛЭТИ и в эти годы, как всегда, занимали ведущие позиции среди вузовских коллективов Ленинграда.
        Выдающимися были результаты выступлений баскетбольной команды института, выигравшей мировое первенство на
        международной студенческой олимпиаде 1959 года в Милане, а члены команды <b>О.А. Мамонтов</b>,
        <b>О.И. Кутузов</b>, <b>В.С. Фомичёв</b>, <b>А.П. Венедиктов</b> и <b>Ю.М. Некрасов</b> входили и в
        состав сборной страны. Выпускник ЛЭТИ 1954 года, будущий профессор <b>Ю.А. Быстров</b> был чемпионом
        Советского Союза по академической гребле (1957, 1958). <br><br>
        1951 год был отмечен созданием хора ЛЭТИ ставшего впоследствии, под руководством известного хормейстера
        А.И. Крылова (с 1957 г.) знаменитым на всю страну. <br><br>
        <b>«Весна в ЛЭТИ»</b> – легендарный студенческий сатирический спектакль - впервые был показан
        11 мая 1953 года. В постановку были вовлечены все коллективы художественной самодеятельности
        (театральный, эстрадный оркестр, хор, хореографический, певцы-солисты, кинолюбители). С огромным успехом
        спектакль был показан на сценах дворцов культуры Ленинграда и Москвы, отмечен премиями ЦК профсоюзов
        работников культуры. То, что не могли себе позволить профессионалы от искусства, могли сделать люди науки и
        техники, и здесь проявилась мужественная гражданская позиция дирекции института, его комсомольских и партийных
        руководителей. Музыку к спектаклю написал студент А. Колкер, будущий известный композитор. С литературой и
        искусством связали свою жизнь и некоторые участники спектакля (М.Д. Гиндин, К.И. Рыжов и др.).
        Припев песни из спектакля стал своеобразной визитной карточной студентов ЛЭТИ:
    </p>
    <p class="cite">
        «И за что не придётся нам браться, <br>
        и куда ни придётся идти, <br>
        Будем помнить, что мы ленинградцы, <br>
        будем помнить, что мы из ЛЭТИ»
    </p>
    <div id="hor-line-3"></div>
</div>

<div class="text-block" id="tb-12">
    <p class="sub-title-text">Развитие материальной базы института</p>
    <p class="ord-text">
        Реальным фактором в деле укрепления материальной базы института явилась помощь со стороны промышленных
        министерств и ведомств – ЛЭТИ получил современное учебное и научное оборудование на сумму более 17 млн. рублей.
        Несколько позже были существенно модернизированы библиотека с читальными залами, расширена столовая. <br><br>
        В 1964 году институту был передан бывший жилой дом для сотрудников архива МВД (Инструментальная, 4),
        построенный по проекту архитектора Р. Марфельда в 1901 году, как и здание самого архива (ныне корпус 7),
        переданное в ЛЭТИ в 1973 году. <br><br>
        В 1958 году в Рощинском районе Ленинградской области, рядом со станцией Местерьярви, была создана
        спортивно-оздоровительная база отдыха студентов ЛЭТИ и пионерский лагерь для детей сотрудников института.
        Для развития этой базы за вузом был закреплен земельный участок площадью 8,5 га. <br><br>
        Важнейшей проблемой оставалась проблема нехватки площадей, уже разрабатывались проекты аудиторного и
        лабораторного корпусов (5 и 6). <br><br>
        В 1967 году в расцвете творческий сил скончался ректор ЛЭТИ профессор Н.П. Богородицкий, которому не суждено
        было увидеть большую часть результатов своих усилий по организации учебной и научной деятельности института,
        достигнутых в последующие годы. <br><br>
        В 1970 году на фасаде 3-го корпуса СПбГЭТУ по Инструментальной улице была открыта мемориальная доска
        профессору Н.П. Богородицкому, известному ученому, ректору ЛЭТИ. <br><br>
    </p>
    <div id="tb-12-letu-img-1"></div>
    <div id="tb-12-letu-img-2"></div>
</div>

<div class="empty">

</div>

<footer>
  <span class="cred">© 1995 - 2025 Санкт-Петербургский государственный электротехнический университет
            «ЛЭТИ» им. В.И. Ульянова (Ленина), СПбГЭТУ «ЛЭТИ»
  </span>
  <div class="minob">
    Минобрнауки
  </div>
  <div class="org_about">
      Сведения об образовательной организации
  </div>
  <div class="politics_1">
      Политика обработки и защиты персональных данных
  </div>
  <div class="politics_2">
      Политика конфеденциальности
  </div>
</footer>
</body>
</html>