<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Average+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Palatino+Linotype&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Piazzolla&display=swap" rel="stylesheet" />
    <link href="/static/style.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>

<div class="header">
  <div class="blue"></div>
  <div class="logo">
    <img src="/static/images/logo.png">
  </div>
  <div class="menu">
      <div class="sub_menu_1"></div>
      <div class="sub_menu_2"></div>
      <div class="sub_menu_3"></div>
      <div class="sub_menu_4"></div>
  </div>
</div>

<div class="text_block" id="tb_1">
    <p class="title_text">
        Развитие ЛЭТИ в послевоенные годы (1945-1968)
    </p>
    <p class="sub_title_text">
        Первые послевоенные годы
    </p>
    <p class="ord_text">
        Весной 1945 года, после возвращения из эвакуации основной части сотрудников, коллектив института развернул
        работу по восстановлению условий для полноценного учебного процесса. С 1944 года директором ЛЭТИ вновь был
        назначен П.И. Скотников, руководивший институтом до 1954 года. Проректором по научной работе стал
        проф. С.А. Ринкевич. <br><br>
        Институт всегда отличался фундаментальной подготовкой в области физико-математических наук. Даже в годы блокады
        Ленинграда студентам ЛЭТИ с 1943 по 1945 годы читал курс математики академик АН СССР В.И. Смирнов.
        Заведующим кафедрой физики (1943 – 1975) был профессор А.Г. Граммаков, заведующим кафедрой
        математики (1946 – 1961) – профессор Н.Г. Болдырев. Основополагающий для электротехнического
        института курс теоретических основ электротехники, включающий несколько специфических циклов, читали
        профессора Л.Р. Нейман, А.В. Берендеев, К.И. Крылов. В 1959 году на должность заведующего
        объединённой кафедрой ТОЭ был избран проф. П.Н. Матханов. <br><br>
        Первая послевоенная научная конференция профессорско-преподавательского состава ЛЭТИ состоялась
        16 июля 1946 года. Была организована работа 3-х секций, проведено 2 пленарных заседания, сделано 46 докладов.
        <br><br>
    </p>
</div>

<div id="photos_1">

</div>


<footer>
  <span class="cred">© 1995 - 2025 Санкт-Петербургский государственный электротехнический университет
            «ЛЭТИ» им. В.И. Ульянова (Ленина), СПбГЭТУ «ЛЭТИ»
  </span>
  <div class="minob">
    Минобрнауки
  </div>
  <div class="org_about">
      Сведения об образовательной организации
  </div>
  <div class="politics_1">
      Политика обработки и защиты персональных данных
  </div>
  <div class="politics_2">
      Политика конфеденциальности
  </div>
</footer>
</body>
</html>